<nav class="nav-menu">
  <div class="container">
    <ul class="nav-list">
      <li><a routerLink="/utente/dashboard" routerLinkActive="active" class="nav-link">Dashboard</a></li>
      <li><a routerLink="/utente/nova-marcacao" routerLinkActive="active" class="nav-link">Nova Marcação</a></li>
      <li><a routerLink="/utente/historico" routerLinkActive="active" class="nav-link">Histórico</a></li>
      <li><a routerLink="/utente/perfil" routerLinkActive="active" class="nav-link">Perfil</a></li>
    </ul>
  </div>
</nav>
